.App {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/63/36/cf/6336cfe397ac8990fd2f15c902fb7741.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  height: 500px;
  font-size: large;
  font-family: Satisfy;
  
}







